<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraMaster - Panel de Control</title>
    <link rel="stylesheet" href="../css/style_panelControl.css">
</head>
<body>
        <div class="container__2">
            <div class="container__3">
                <div class="sidebar">
                    <div class="aside_top">
                        <h2 class="titulo-biblioteca">LibraMaster</h2>
                        <p>Sesión iniciada como: <strong>Estudiante</strong></p>
                        <nav class="nav_panel">
                            <ul class="menu">
                                <li class="opciones-nav"><a href="#"><img src="../img/panel de control2.png" alt="Icono Panel" class="iconos-principales"> Panel de Control</a></li>
                                <li class="opciones-nav"><a href="#"><img src="../img/libro.png" alt="Icono Biblioteca" class="iconos-principales"> Biblioteca Digital</a></li>
                                <li class="opciones-nav"><a href="#"><img src="../img/wifi.png" alt="Icono Acceso Remoto" class="iconos-principales"> Acceso Remoto</a></li>
                                <li class="opciones-nav"><a href="#"><img src="../img/favorito_2.png" alt="Icono Favoritos" class="iconos-principales"> Mis favoritos</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="box"></div>
                    <div class="aside_bot">
                        <div class="system">
                            <p class="sistema">Sistema</p>
                            <a class="ayuda" href="#"><img src="../img/ayuda y soporte.png" alt="Icono Ayuda" class="ayuda_img
                                "> Ayuda y Soporte</a>
                                <button  class="button-cerrar-sesion"> <img class="cerrar-sesion-icon" src="../img/flecha.png" alt="">Cerrar Sesión</button>
                        </div>
                    </div>
                </div>
        
                <main class="main-acceso-remoto">
                    <header class="header">
                        <h1>Acceso Remoto<img class="acceso-remoto-img" src="../img/acceso remoto.png" alt="biblioteca-icono"></h1>
                    </header>
                    <p class="parrafo">¡ Accede a recursos educativos ya mismo ! Haz click en los temas relacionados para explorar más...</p>
                    <div class="container-acceso-remoto">
                        <div class="card recurso1">
                            <h2>Primer recurso</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptate, modi perferendis nihil ullam quisquam.</p>
                            <a href="#" class="btn">Link <span class="link-icon">🔗</span></a>
                        </div>
                
                        <div class="card recurso2">
                            <h2>Segundo recurso</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptate, modi perferendis nihil ullam quisquam.</p>
                            <a href="#" class="btn">Link <span class="link-icon">🔗</span></a>
                        </div>
                
                        <div class="card recurso3">
                            <h2>Tercer recurso</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptate, modi perferendis nihil ullam quisquam.</p>
                            <a href="#" class="btn">Link <span class="link-icon">🔗</span></a>
                        </div>
                
                        <div class="card recurso4">
                            <h2>Cuarto recurso</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptate, modi perferendis nihil ullam quisquam.</p>
                            <a href="#" class="btn">Link <span class="link-icon">🔗</span></a>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        
    </div>
</body>
</html>