<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraMaster - Panel de Control</title>
    <link rel="stylesheet" href="../css/style_panelControl.css">
</head>
<body>
        <div class="container__2">
            <div class="container__3">
                <div class="sidebar">
                    <div class="aside_top">
                        <h2 class="titulo-biblioteca">LibraMaster</h2>
                        <p>Sesión iniciada como: <strong>Estudiante</strong></p>
                        <nav class="nav_panel">
                            <ul class="menu">
                                <li class="opciones-nav"><a href="#"><img src="../img/panel de control2.png" alt="Icono Panel" class="iconos-principales"> Panel de Control</a></li>
                                <li class="opciones-nav"><a href="#"><img src="../img/libro.png" alt="Icono Biblioteca" class="iconos-principales"> Biblioteca Digital</a></li>
                                <li class="opciones-nav"><a href="#"><img src="../img/wifi.png" alt="Icono Acceso Remoto" class="iconos-principales"> Acceso Remoto</a></li>
                                <li class="opciones-nav"><a href="#"><img src="../img/favorito_2.png" alt="Icono Favoritos" class="iconos-principales"> Mis favoritos</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="box"></div>
                    <div class="aside_bot">
                        <div class="system">
                            <p class="sistema">Sistema</p>
                            <a class="ayuda" href="#"><img src="../img/ayuda y soporte.png" alt="Icono Ayuda" class="ayuda_img
                                "> Ayuda y Soporte</a>
                                <button  class="button-cerrar-sesion"> <img class="cerrar-sesion-icon" src="../img/flecha.png" alt="">Cerrar Sesión</button>
                        </div>
                    </div>
                </div>
        
                <main class="main-content">
                    <header class="header">
                        <h1>Panel de control <img src="../img/panel de control.jpeg" alt="Icono Control"></h1>
                    </header>
                    <div class="tarjetas">
                        <div class="card quote">
                            <img src="../img/panel.jpeg" alt="Diseño Abstracto">
                            <p>"Un libro es un sueño que puedes sostener en tus manos."</p>
                            <p>"Hoy un lector, mañana un líder."</p>
                        </div>
                        <div class="card stats">
                            <div class="stat books-total" > <div class="libros__totales">
                                <img src="../img/libro abierto.png" alt="" class="libro-abierto">Libros Totales
                            </div></div>

                            <div class="stat books-favorites" > <div class="libros__totales">
                                <img src="../img/favorito.png" alt="" class="favorito">Libros Favoritos
                            </div></div>
                            
                            <div class="stat students" > <div class="libros__totales">
                                <img src="../img/estudiante.png" alt="" class="estudiante">Estudiantes
                            </div></div>
                        </div>
                        <div class="card info">
                            <img src="../img/sabias.png" alt="Diseño Abstracto">
                            <p>¿Sabías que el libro más pequeño del mundo mide solo 0.07 milímetros? Se llama "Teeny Ted from Turnip Town" y se necesita un microscopio para ser leído.</p>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        
    </div>
</body>
</html>
