/***************************** Root styles *****************************/
/***************************** Reset styles *****************************/
.dark-theme {
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
}
.light-theme{
    background-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
}
/***************************** BootStrap styles *****************************/
/***************************** My styles *****************************/
.btn-primary:active {
    background-color: #000 !important;    
}
.btn{
    background-color: #0009;
    border: #0009;
}
.btn:hover{
    background-color: #000;;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #0005
}
.form-control:is(:hover, :active){
    border: 2px solid #0009;
    box-shadow: 4px 4px 4px #0007;
}

/***************************** BootStrap Media Queries *****************************/

/***************************** Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) { 

}

/***************************** Medium devices (tablets, 768px and up) *****************************/
@media (min-width: 768px) { 

}

/***************************** Large devices (desktops, 992px and up) *****************************/
@media (min-width: 992px) { 

}

/***************************** X-Large devices (large desktops, 1200px and up) *****************************/
@media (min-width: 1200px) { 

}

/***************************** XX-Large devices (larger desktops, 1400px and up) *****************************/
@media (min-width: 1400px) { 

}