<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin Interface</title>
</head>

<body>
    <div class="container__2">
        <div class="container__3 m-4">
            <aside class="sidebar">
                <div class="container p-3 menu-principal-size">
                    <h1> <b>LibraMaster</b> </h1>
                    <p>Sesión iniciada como: <strong>Administrador</strong></p>
                    <h3> <b>Menu Principal</b> </h3>
                    <nav class="nav_panel">
                        <ul class="menu d-flex flex-column mt-3">
                            <li class="menu-hover-style d-flex align-items-center mb-2 "><a href="./interfazAdmin.html" class="fs-5 mb-3 pt-3 ps-2"><img class="img-style"
                                        src="/assets/img/dashboard.png" alt="Icono Panel"> Panel de
                                    Actividad</a></li>
                            <li class="menu-hover-style d-flex align-items-center mb-2 "><a href="/views/interfazAdmin/AgregarLibro.html" id="gestionarLibros" class="fs-5 mb-4 pt-4 ps-2"><img class="img-style"
                                        src="/assets/img/libro.png" alt="Icono Biblioteca"> Gestión de
                                    Libros </a></li>
                            <li class="menu-hover-style d-flex align-items-center mb-2"><a href="#" class="gestion-estudiante-size mb-4 pt-4 ps-2"><img
                                        class="gest-estudiante-img-size ms-1"
                                        src="/assets/img/gestionar-estudiante.png"
                                        alt="Icono Acceso Remoto"> Gestionar Estudiantes</a></li>
                            <li class="menu-hover-style d-flex align-items-center mb-2 "><a href="#" class="fs-5 mb-3 pt-3 ps-2"><img class="img-style"
                                        src="/assets/img/reporte.png" alt="Icono Favoritos"> Reportes</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <hr class="">
                <div class="container p-1 pb-3">
                    <h3 class="ps-3 mb-0"> <b>Sistema</b> </h3>
                    <nav class="nav_panel">
                        <ul class="menu d-flex flex-column ps-2 pt-0 pe-2 pb-3 mt-3 mb-2">
                            <li class="menu-hover-style d-flex align-items-center"><a href="#" class="fs-5 mt-4 mb-4"><img class="help-icon me-0"
                                        src="/assets/img/ayuda.png" alt="Icono Panel"> Ayuda y Soporte</a>
                            </li>
                        </ul>
                    </nav>
                    <button type="button" class="btn btn-dark ms-3" id="cerrar-sesion"><img class="me-3"
                            src="/assets/img/cerrar-sesion.png" alt="Icono cerrar-sesion">Cerrar
                        Sesión</button>
                </div>
            </aside>

            <main class="main-biblioteca-digital">
                <header class="header">
                    <h1> <b>Panel de actividad</b> <img src="/assets/img/actividad.png" alt="Icono Control"></h1>
                </header>
                <div class="tarjetas d-flex align-items-center">
                    <div class="card-content quote d-flex align-items-start">
                        <img class="card-content-style" src="/assets/img/purple-img.png" alt="Diseño Abstracto">
                    </div>
                    <div class="card-content stats">
                        <div class="stat books-total">
                            <div class="libros__totales">
                                <img src="/assets/img/book-icon.png" alt="" class="libro-abierto">Libros Totales
                            </div>
                        </div>

                        <div class="stat books-favorites">
                            <div class="libros__totales">
                                <img src="/assets/img/favorito-icon.png" alt="" class="favorito">Libros Favoritos
                            </div>
                        </div>

                        <div class="stat students">
                            <div class="libros__totales">
                                <img src="/assets/img/user-icon.png" alt="" class="estudiante">Estudiantes
                            </div>
                        </div>
                    </div>
                    <div class="card-content info d-flex align-items-end">
                        <img class="info-style" src="/assets/img/cyan-img.png" alt="Diseño Abstracto">

                    </div>
                </div>
            </main>
        </div>
    </div>

    </div>

    <script src="/js/script.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>