<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <title>Student Interface</title>
</head>

<body>
    <div class="container__2">
        <div class="container__3 m-4">
            <aside class="sidebar">
                <div class="container p-3 menu-principal-size">
                    <h1> <b>LibraMaster</b> </h1>
                    <p>Sesión iniciada como: <strong>Estudiante</strong></p>
                    <h3> <b>Menu Principal</b> </h3>
                    <nav class="nav_panel">
                        <ul class="menu d-flex flex-column mt-3">
                            <li class="menu-hover-style d-flex align-items-center mb-2 "><a
                                    href="/views/interfazStudent/PanelDeActividad.html" class="fs-5 mb-3 pt-3 ps-2 w-100"><img class="img-style"
                                        src="/assets/img/dashboard.png" alt="Icono Panel"> Panel de
                                    Actividad</a></li>
                            <li class="menu-hover-style d-flex align-items-center mb-2 "><a
                                    href="/views/interfazStudent/BibliotecaDigital.html" id="gestionarLibros"
                                    class="fs-5 mb-4 pt-4 ps-2 w-100"><img class="img-style" src="/assets/img/libro.png"
                                        alt="Icono Biblioteca"> Biblioteca Digital </a></li>
                            <li class="menu-hover-style d-flex align-items-center mb-2"><a
                                    href="/views/interfazStudent/AccesoRemoto.html"
                                    class="gestion-estudiante-size mb-4 pt-4 ps-2 w-100"><img
                                        class="gest-estudiante-img-size ms-1 me-3" src="/assets/img/wifi.png"
                                        alt="Icono Acceso Remoto"> Acceso Remoto </a></li>
                            <li class="menu-hover-style d-flex align-items-center mb-2 "><a
                                    href="/views/interfazStudent/MisFavoritos.html" class="fs-5 mb-3 pt-3 ps-2 w-100"><img
                                        class="mis-favoritos-img-size ms-1 me-3" src="/assets/img/favorito.png"
                                        alt="Icono Favoritos"> Mis Favoritos </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <hr class="">
                <div class="container p-1 pb-3">
                    <h3 class="ps-3 mb-0"> <b>Sistema</b> </h3>
                    <nav class="nav_panel">
                        <ul class="menu d-flex flex-column ps-2 pt-0 pe-2 pb-3 mt-3 mb-2">
                            <li class="menu-hover-style d-flex align-items-center"><a href="#"
                                    class="fs-5 mt-4 mb-4 w-100"><img class="help-icon me-0" src="/assets/img/ayuda.png"
                                        alt="Icono Panel"> Ayuda y Soporte</a>
                            </li>
                        </ul>
                    </nav>
                    <button type="button" class="btn btn-dark ms-3" id="cerrar-sesion"><img class="me-3"
                            src="/assets/img/cerrar-sesion.png" alt="Icono cerrar-sesion">Cerrar
                        Sesión</button>
                </div>
            </aside>

            <main class="main-content">
                <header class="header">
                    <h1> <b>Panel de actividad</b> <img src="/assets/img/actividad.png" alt="Icono Control"></h1>
                </header>
                <div class="tarjetas d-flex align-items-center">
                    <div class="card-content quote d-flex align-items-start pe-3">
                        <div class="header-img pt-4">
                            <img class="card-content-style me-2" src="/assets/img/purple-img.png"
                                alt="Diseño Abstracto">
                            <img src="/assets/img/admin-icon-img.png" class="card-content-style" alt="">
                        </div>
                        <div
                            class="info-admin h-100 d-flex flex-column pt-0 ps-0 text-white fs-3 libros-favoritos">

                        </div>
                    </div>
                    <div class="card-content stats">
                        <div class="stat books-total">
                            <div class="libros__totales">
                                <img src="/assets/img/book-icon.png" alt="" class="libro-abierto">Libros Totales
                            </div>
                            <div class="d-flex justify-content-center libros_totales_numero">

                            </div>
                        </div>

                        <div class="stat books-favorites">
                            <div class="libros__totales mt-2 mb-3">
                                <img src="/assets/img/favorito-icon.png" width="40px" height="40px" alt="">Libros Favoritos
                            </div>
                            <div class="d-flex justify-content-center libros_favoritos">

                            </div>
                        </div>

                        <div class="stat students">
                            <div class="libros__totales">
                                <img src="/assets/img/user-icon.png" alt="" class="estudiante">Estudiantes
                            </div>
                            <div class="d-flex justify-content-center students_numero">

                            </div>
                        </div>
                    </div>
                    <div class="card-content info d-flex align-items-start">
                        <div class="header-img pt-4">
                            <img class="card-content-style me-2" src="/assets/img/cyan-img.png"
                                alt="Diseño Abstracto">
                            <img src="/assets/img/biblio-digital.png" class="card-content-style" alt="">
                        </div>
                        <div
                            class="info-admin h-100 w-100 d-flex flex-column pt-0 ps-0 text-white fs-3 ultimos-libros-agregados">

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    </div>

    <script src="/js/script.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>